# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps

# LabVIEW Cache Files
*.slicache
*.gcompcache
*.lvprojectcache
*.niaddoncache
*.lvcodedb

# OS Junk
.DS_Store
*.lvcodedb-journal
license package/
